# System Files
.DS_Store
Thumbs.db

## Logs
logs
*.log
npm-debug.log*

# Build results
node_modules
build
dist

## cache
.npm
.eslintcache

## Output of 'npm pack'
*.tgz
   
## dotenv environment variables file
.env
.env.*

## Stores VSCode versions used for testing VSCode extensions
.vscode-test